
$colorSelect = white

.theme-container {

  .navbar {
    background-color: $colorApp !important;
    padding-top:0px !important;
    padding-bottom:0px !important;
    height:77px !important;
    padding-top:0px !important;
  }

  .custom-block.tip {
    border-color: $colorApp !important;
  }

  .navigation-drawer {
    margin-top: 420px;
  }

  @media (max-width: 992px) {
    .text-nowrap {
      white-space: normal !important;
    }
  }

  @media (max-width: 1280px) {
    .navigation-drawer {
      max-width: 200px;
    }
  }

  main {

    .theme-default-content {
      max-width: 940px !important
      padding-top:5rem !important;
    }

    ul {
      margin-bottom: 20px;
    }

    .is-style-rounded {
      border-radius: 9999px !important;
    }
    
  }

}