
$colorSelect = white

.theme-container {

  .navbar {
    background-color: $colorApp !important;
    height:8.7vw !important;
    max-height:90px !important;
    margin-bottom 38px !important
  }

  .home-picture {
    aspect-ratio: 12;
  }

  .sidebar{
    top: 27rem !important;
    position: absolute !important;
    z-index: 0 !important;
    .nav-link:hover, .nav-item .router-link-active{
        color $colorApp !important;
    }

    a{
      color: black !important
    }
  }

  @media (max-width: 960px){
    .sidebar{
      top: 20rem !important;
    }
  }

  main {
    text-align: justify;

    .theme-default-content {
      max-width: 940px !important
      padding-top:0rem !important;
    }

    .is-style-rounded {
      border-radius: 9999px !important;
    }
    
  }

  .router-link-active {
    border-bottom: 2px solid #FFFFFF !important;
  }

  .nav-item:hover a{
    border-bottom: 2px solid #FFFFFF !important;
  }

  .background-app{
    background-color: $colorApp !important;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to{
    transform: translateX(10px);
    opacity: 0;
  }

}



  
